<a href="https://colab.research.google.com/github/putrifpr/DA_Portfolio/blob/main/ds_jobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re
from collections import Counter
from datetime import datetime

In [ ]:
df = pd.read_csv('Uncleaned_DS_jobs.csv')
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [ ]:
df.dtypes

index                  int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

# **2. Data Cleaning**



*   Error Checking on Job Title

In [ ]:
job_title_error = df['Job Title'].isnull().sum()
job_title_error

0



*   Checking on Salary Estimate

In [ ]:
salary = df['Salary Estimate'].unique()
salary

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)



*   Editing Salary Estimate Column (Remove anything beside the number)

In [ ]:
nominal = r'\$(\d+)K-\$(\d+)K'

extracted = df['Salary Estimate'].str.extract(nominal)
print(extracted)

       0    1
0    137  171
1    137  171
2    137  171
3    137  171
4    137  171
..   ...  ...
667  105  167
668  105  167
669  105  167
670  105  167
671  105  167

[672 rows x 2 columns]

In [ ]:
nominal = r'\$(\d+)K-\$(\d+)K'

df[['min_salary', 'max_salary']] = df['Salary Estimate'].str.extract(nominal).astype(int)

df['avg_salary'] = df.apply(lambda row: int((row['min_salary'] + row['max_salary']) / 2), axis=1)

df['Salary Estimate'] = df['min_salary'].astype(str) + '-' + df['max_salary'].astype(str)

df[['Salary Estimate', 'min_salary', 'max_salary', 'avg_salary']].head()

  Salary Estimate  min_salary  max_salary  avg_salary
0         137-171         137         171         154
1         137-171         137         171         154
2         137-171         137         171         154
3         137-171         137         171         154
4         137-171         137         171         154



*   Company Age

In [ ]:
year_now = datetime.now().year
df['company_age'] = df['Founded'].map(lambda x: year_now - x if x > 0 else 0)

df['company_age'].head()

0    31
1    56
2    43
3    24
4    26
Name: company_age, dtype: int64



*   Editing Revenue

In [ ]:
# Fungsi cleaning Revenue
def revenue_clean(revenue):
  if pd.isna(revenue) or revenue == '-1': # jika data NaN atau -1
    return np.nan # maka isi NaN

# Menemukan angka dalam revenue
  numbers = re.findall(r'\d+', revenue)

# Memeriksa nilai revenue (million/billion)
  if 'million' in revenue.lower() and 'billion' in revenue.lower():
    # Jika ada kombinasi million to billion
    bounds = [float(numbers[0]) * 1e6, float(numbers[1]) * 1e9]
  elif 'million' in revenue.lower():
    bounds = [float(num)*1e6 for num in numbers] # untuk nilai million
  elif 'billion' in revenue.lower():
    bounds = [float(num)*1e9 for num in numbers] # untuk nilai billion
  else:
    return np.nan # jika tidak ada million/billion dalam revenue

# Menghitung rata-rata revenue
  if len(bounds) == 2:
    return np.mean(bounds) # rata-rata dua nilai di revenue
  elif len(bounds) == 1:
    return bounds[0] # jika hanya ada 1 nilai, tampilkan nilai revenue
  else:
    return np.nan

# Aplikasikan fungsi ke dalam kolom 'Revenue'
df['Average Revenue'] = df['Revenue'].apply(revenue_clean)
df['Average Revenue']

0               NaN
1      1.500000e+09
2      3.000000e+08
3      3.000000e+08
4               NaN
           ...
667             NaN
668             NaN
669             NaN
670    3.000000e+06
671    1.500000e+09
Name: Average Revenue, Length: 672, dtype: float64



*   Job Description Qualify

In [ ]:
df['Job Description'][0].split('\n')

['Description',
 '',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 '',
 'Duties & Responsibilities:',
 '',
 '• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains',
 '• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources',
 '• Works with multiple teams to support data collection, integration, and retention requirements based on business needs',
 '• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities',
 '• Collaborates with business subject matter experts to select relevant sources of information',
 '• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation',
 '• Develops expertise with Healthfirst datasets, data repositories, and data movement processes',
 '• Assists on projects/requests and may lead specific tasks within the project scope',
 '• Prepares and manipulates data for use in development of statistical models',
 '• Other duties as assigned',
 '',
 'Minimum Qualifications:',
 '',
 "-Bachelor's Degree",
 '',
 'Preferred Qualifications:',
 '',
 '- Master’s degree in Computer Science or Statistics',
 'Familiarity with major cloud platforms such as AWS and Azure',
 'Healthcare Industry Experience',
 '',
 'Minimum Qualifications:',
 '',
 "-Bachelor's Degree",
 '',
 'Preferred Qualifications:',
 '',
 '- Master’s degree in Computer Science or Statistics',
 'Familiarity with major cloud platforms such as AWS and Azure',
 'Healthcare Industry Experience',
 '',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 '',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.',
 'EEO Law Poster and Supplement',
 '',
 ']]>']

In [ ]:
df['python']   = df['Job Description'].map(lambda x: 1 if 'python'   in x.lower() else 0)
df['excel']    = df['Job Description'].map(lambda x: 1 if 'excel'    in x.lower() else 0)
df['hadoop']   = df['Job Description'].map(lambda x: 1 if 'hadoop'   in x.lower() else 0)
df['spark']    = df['Job Description'].map(lambda x: 1 if 'spark'    in x.lower() else 0)
df['aws']      = df['Job Description'].map(lambda x: 1 if 'aws'      in x.lower() else 0)
df['tableau']  = df['Job Description'].map(lambda x: 1 if 'tableau'  in x.lower() else 0)
df['big_data'] = df['Job Description'].map(lambda x: 1 if 'big data' in x.lower() else 0)
df['machine_learning']  = df['Job Description'].map(lambda x: 1 if 'machine learning'  in x.lower() else 0)
df['sql'] = df['Job Description'].map(lambda x: 1 if 'sql' in x.lower() else 0)
df['power_bi'] = df['Job Description'].map(lambda x: 1 if 'power bi' in x.lower() else 0)

In [ ]:
df[['python','excel','hadoop','spark','aws','tableau','big_data','machine_learning','sql','power_bi']]

,python,excel,hadoop,spark,aws,tableau,big_data,machine_learning,sql,power_bi
0,0,0,0,0,1,0,0,1,0,0
1,0,0,1,0,0,0,1,1,1,0
2,1,1,0,0,1,0,0,1,0,0
3,1,1,0,0,1,0,0,1,1,0
4,1,1,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
667,1,1,1,0,0,1,1,1,1,1
668,0,0,0,0,0,0,0,0,0,0
669,1,1,1,0,0,1,0,1,1,1
670,1,0,1,1,0,0,1,1,1,0
671,1,1,0,0,0,1,0,0,1,0

In [ ]:
# Mengganti \n\n dengan spasi
df['Job Description'] = df['Job Description'].str.replace('\n\n', ' ', regex=False)

# Mengganti \n dengan spasi (untuk sisa newline tunggal yang belum terganti)
df['Job Description'] = df['Job Description'].str.replace('\n', ' ', regex=False)

df['Job Description']

0      Description The Senior Data Scientist is respo...
1      Secure our Nation, Ignite your Future Join the...
2      Overview  Analysis Group is one of the largest...
3      JOB DESCRIPTION: Do you have a passion for Dat...
4      Data Scientist Affinity Solutions / Marketing ...
                             ...
667    Summary We’re looking for a data scientist to ...
668    Job Description Become a thought leader within...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description The Data Scientist will be part of...
Name: Job Description, Length: 672, dtype: object

In [ ]:
df['Job Description'][1]

"Secure our Nation, Ignite your Future Join the top Information Technology and Analytic professionals in the industry to make invaluable contributions to our national security on a daily basis. In this innovative, self-contained, Big Data environment, the ManTech team is responsible for everything from infrastructure, to application development, to data science, to advanced analytics and beyond. The team is diverse, the questions are thought-provoking, and the opportunities for growth and advancement are numerous The successful candidate will possess a diverse range of data-focused skills and experience, both technical and analytical. They will have a strong desire and capability for problem solving, data analysis and troubleshooting, analytical thinking, and experimentation. Duties, Tasks & Responsibilities Working with large, complex, and disparate data sets Designing and implementing innovative ways to analyze and exploit the Sponsors data holdings Researching and reporting on a wide variety of Sponsor inquiries Raising proactive inquiries to the Sponsor based on observations and proposed data analysis/exploitation Solving difficult, non-routine problems by applying advanced analytical methodologies, and improving analytic methodologies Developing custom searches Communicating and coordinating with internal and external partners as needed Required Experience, Skills, & Technologies Thorough knowledge of appropriate analytic tools and methodologies in one or more of the following: Applied mathematics (e.g. probability and statistics, formal modeling, computational social sciences) Computer programming (e.g. programming languages, math/statistics packages, computer science, machine learning, scientific computing) Ability to code or script in one or more general programming language Experience with and theoretical understanding of algorithms for classification, regression, clustering, and anomaly detection Knowledge of relational databases, including SQL and large-scale distributed systems (e.g. Hadoop) Expertise with statistical data analysis (e.g. linear models, multivariate analysis, stochastic models, sampling methods) Demonstrated effectiveness in collecting information and accurately representing/visualizing it to non-technical third parties TS/SCI with Polygraph Bachelor of Science or equivalent and 12-15 years related experience, but will consider all levels of experience. Desired Experience, Skills & Technologies Previous investigative experience using a combination of technical and analytic skills #LI-DU1 ManTech International Corporation, as well as its subsidiaries proactively fulfills its role as an equal opportunity employer. We do not discriminate against any employee or applicant for employment because of race, color, sex, religion, age, sexual orientation, gender identity and expression, national origin, marital status, physical or mental disability, status as a Disabled Veteran, Recently Separated Veteran, Active Duty Wartime or Campaign Badge Veteran, Armed Forces Services Medal, or any other characteristic protected by law. If you require a reasonable accommodation to apply for a position with ManTech through its online applicant system, please contact ManTech's Corporate EEO Department at (703) 218-6000. ManTech is an affirmative action/equal opportunity employer - minorities, females, disabled and protected veterans are urged to apply. ManTech's utilization of any external recruitment or job placement agency is predicated upon its full compliance with our equal opportunity/affirmative action policies. ManTech does not accept resumes from unsolicited recruiting firms. We pay no fees for unsolicited services. If you are a qualified individual with a disability or a disabled veteran, you have the right to request an accommodation if you are unable or limited in your ability to use or access http://www.mantech.com/careers/Pages/careers.aspx as a result of your disability. To request an accommodation please click careers@mantech.com and provide your name and contact information."



*   Company Rating

In [ ]:
df['Rating'] = df['Rating'].map(lambda x: 0 if x<0 else x)

rating = df['Rating'].unique()
rating

array([3.1, 4.2, 3.8, 3.5, 2.9, 3.9, 4.4, 3.6, 4.5, 4.7, 3.7, 3.4, 4.1,
       3.2, 4.3, 2.8, 5. , 4.8, 3.3, 2.7, 2.2, 2.6, 4. , 2.5, 4.9, 2.4,
       0. , 2.3, 4.6, 3. , 2.1, 2. ])



*   Company Name

In [ ]:
df['Company Name'] = df['Company Name'].map(lambda x: x.split('\n')[0])
df['Company Name']

0               Healthfirst
1                   ManTech
2            Analysis Group
3                   INFICON
4        Affinity Solutions
               ...
667                TRANZACT
668                    JKGT
669              AccessHope
670    ChaTeck Incorporated
671           1-800-Flowers
Name: Company Name, Length: 672, dtype: object



*   Competitor

In [ ]:
sorted(df['Competitors'].unique())

['-1',
 'ACRT Services, Bartlett Tree Experts',
 'AT&T, Verizon',
 'Accenture, Deloitte, PwC',
 'Accenture, Northrop Grumman, Xerox',
 'Activision Blizzard, Electronic Arts',
 'Acxiom, Merkle, Epsilon (North Carolina)',
 'Adecco, Manpower',
 'Adecco, ManpowerGroup, Allegis Corporation',
 'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
 'Amazon, Accenture, Microsoft',
 'Amazon, Apple',
 'AppDynamics, Datadog, Dynatrace',
 'Aquent, 24 Seven Talent',
 'Arbella Insurance, Safety Insurance',
 'Archibus, iOffice, Planon',
 'Battelle, General Atomics, SAIC',
 'Bechtel Jacobs, Black & Veatch, HNTB',
 'Booz Allen Hamilton, CACI International',
 'Booz Allen Hamilton, Deloitte, ERPi',
 'Booz Allen Hamilton, SAIC, LMI',
 'Bosch, Lear Corporation, Faurecia',
 'Braintree, Authorize.Net, PayPal',
 'Bromium, FireEye, Authentic8',
 'CDW, PCM, SHI International',
 'CGI (Nevada), Accenture, Deloitte',
 'CSC, ManTech, SAIC',
 'CUNA Mutual, SWBC, Overby-Seawell',
 'Cadence Design Systems, Synopsys, Altium Limited',
 "Children's Health, Texas Health Resources, Baylor Scott & White Health",
 'Cognizant Technology Solutions, Infosys, Wipro',
 'Colony Specialty, Markel, RLI',
 'Commerce Signals, Cardlytics, Yodlee',
 'Copper River Shared Services, Chenega Corporation, Deloitte',
 'Covance, ICON',
 'Covidien, Boston Scientific',
 'Crossix Solutions Inc., AppNexus, The Trade Desk',
 'DHL Supply Chain, UPS, FedEx',
 'DoorDash, Uber, Grubhub',
 'Drip, iContact, Mailchimp',
 'Eaton, SMC Corporation, Bosch Rexroth',
 'EmblemHealth, UnitedHealth Group, Aetna',
 'Engagio, Bombora, Terminus',
 'Enlivant, Sunrise Senior Living, Brookdale Senior Living',
 'Epic, CipherHealth',
 'Facebook, Google, Pinterest',
 'Fluor, Bechtel, AECOM',
 'GE Digital, Palantir Technologies, Uptake',
 'General Atomics, Boeing, Northrop Grumman',
 'Genomic Health, 23andMe, Illumina',
 'Genomic Health, Myriad Genetics, The Broad Institute',
 'Google, Microsoft, Samsung Electronics',
 'H&M, Inditex, Fast Retailing',
 'Harris, Fibertek',
 'Humana',
 "IMAGE Skincare, Aveda, Kiehl's",
 'IQVIA, ICON',
 'Intertek, SGS, Bureau Veritas',
 'John Deere, Komatsu, CNH Industrial',
 'KPMG, Accenture, Deloitte',
 'Kforce, PageGroup, Robert Half',
 'Leidos, CACI International, Booz Allen Hamilton',
 'Liberty Mutual Insurance, EMPLOYERS, Travelers',
 'Linqia, Collective Bias',
 'LivePerson, Salesforce, SAP',
 'Lockheed Martin, Caterpillar, John Deere',
 'Los Alamos National Laboratory, Battelle, SRI International',
 'Los Alamos National Laboratory, Lawrence Livermore National Laboratory',
 'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories',
 'Lumentum Operations, Keysight Technologies, O-Net Technologies',
 'Luxoft, EPAM, Capgemini Invent',
 'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman',
 'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies',
 'ManTech, Booz Allen Hamilton, Leidos',
 'MediaMath, Conversant, AppNexus',
 'Monster Worldwide, CareerBuilder, Craigslist',
 'Munich Re, Hannover RE, SCOR',
 'Nielsen, Zappi, SurveyMonkey',
 'Northwestern Mutual',
 'Novartis, AstraZeneca, Siemens Healthineers',
 'Novartis, Baxter, Pfizer',
 'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
 'PRA Group',
 'Pfizer, AstraZeneca, Merck',
 'Pfizer, GlaxoSmithKline',
 'Puppet, Ansible, SaltStack',
 'Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory',
 'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton',
 'Roche, GlaxoSmithKline, Novartis',
 'SAIC, Leidos, Northrop Grumman',
 'Seagate Technology, Toshiba',
 'Sequenom',
 'Skyhigh Networks, Zscaler, NortonLifeLock',
 'Slalom, Daugherty Business Solutions',
 'Solution Design Group, Intertech (Minnesota)',
 'South Carolina Electric & Gas, Virginia Electric and Power',
 'Square, Amazon, Apple',
 'Square, PayPal, H&R Block',
 'TASC, Vencore, Booz Allen Hamilton',
 'TEKsystems, Insight Global, Accenture',
 'TEKsystems, Kforce, Randstad US',
 'The World Bank, IMF',
 'Thermo Fisher Scientific, Enzymatics, Illumina',
 'Travelers, Allstate, State Farm',
 'TrueCar, Cars.com, Kelley Blue Book',
 'United Natural Foods, US Foods, DPI Specialty Foods',
 'Zola Registry',
 'Zurich Insurance, AXA XL, Allianz']

In [ ]:
categorical_cols = ['Job Title', 'Salary Estimate', 'Job Description', 'Company Name', 'Location', 'Headquarters', 'Size', 'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors']

df[categorical_cols] = df[categorical_cols].replace('-1', 'na')
df[categorical_cols] = df[categorical_cols].replace('Unknown', 'na')

In [ ]:
df['Founded'].replace(-1, np.nan, inplace=True)

# Isi NaN dengan 0, lalu ubah ke int
df['Founded'] = df['Founded'].fillna(0).astype(int)
df['Founded']

<ipython-input-19-c0d1284ee223>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Founded'].replace(-1, np.nan, inplace=True)

0      1993
1      1968
2      1981
3      2000
4      1998
       ...
667    1989
668       0
669       0
670       0
671    1976
Name: Founded, Length: 672, dtype: int64



*   Location Editing

In [ ]:
df['Location'].unique()

array(['New York, NY', 'Chantilly, VA', 'Boston, MA', 'Newton, MA',
       'Santa Barbara, CA', 'Cambridge, MA', 'Bedford, MA',
       'San Diego, CA', 'Chicago, IL', 'Herndon, VA', 'Saint Louis, MO',
       'Richland, WA', 'Northbrook, IL', 'Washington, DC', 'Remote',
       'Memphis, TN', 'Plano, TX', 'West Grove, PA', 'Phoenix, AZ',
       'Appleton, WI', 'Atlanta, GA', 'Orlando, FL', 'Lexington, MA',
       'McLean, VA', 'San Francisco, CA', 'Sheboygan, WI',
       'United States', 'Bothell, WA', 'Lincoln, NE', 'Overland Park, KS',
       'Santa Monica, CA', 'Portsmouth, NH', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Bellevue, WA',
       'New Orleans, LA', 'Akron, OH', 'Fort Wayne, IN', 'Woburn, MA',
       'Carson, CA', 'Coral Gables, FL', 'Santa Clara, CA',
       'Brisbane, CA', 'Winter Park, FL', 'Redwood City, CA',
       'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Emeryville, CA',
       'Gaithersburg, MD', 'Longmont, CO', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'Springfield, VA', 'Alexandria, VA', 'Utah',
       'Reston, VA', 'Denver, CO', 'New Jersey', 'Aurora, CO',
       'Hill AFB, UT', 'Chandler, AZ', 'Indianapolis, IN',
       'Nashville, TN', 'Timonium, MD', 'Burlingame, CA',
       'Annapolis Junction, MD', 'Bethesda, MD', 'Dayton, OH',
       'Schaumburg, IL', 'Cupertino, CA', 'Lehi, UT', 'Culver City, CA',
       'Lake Oswego, OR', 'San Mateo, CA', 'Holyoke, MA',
       'Woodbridge, NJ', 'Dearborn, MI', 'Maryland Heights, MO',
       'Rockville, MD', 'Carpinteria, CA', 'Columbia, SC',
       'Hauppauge, NY', 'Fort Meade, MD', 'Columbia, MO', 'Vicksburg, MS',
       'Birmingham, AL', 'Blue Bell, PA', 'Cincinnati, OH',
       'Harrisburg, PA', 'Oak Ridge, TN', 'San Carlos, CA', 'Waltham, MA',
       'Fort Worth, TX', 'Smithfield, RI', 'Cedar Rapids, IA',
       'Fort Belvoir, VA', 'Linthicum Heights, MD', 'Maple Plain, MN',
       'Tulsa, OK', 'Baltimore, MD', 'Oklahoma City, OK',
       'Scotts Valley, CA', 'Spartanburg, SC', 'Hartford, CT',
       'Beavercreek, OH', 'Norfolk, VA', 'Charlotte, NC', 'Champaign, IL',
       'Texas', 'Hoboken, NJ', 'Lebanon, IN', 'Oakland, CA',
       'Melbourne, FL', 'Cleveland, OH', 'Norwell, MA', 'San Jose, CA',
       'Piscataway, NJ', 'Danvers, MA', 'Vienna, VA', 'Livermore, CA',
       'Pittsburgh, PA', 'Irvine, CA', 'Oshkosh, WI', 'Menlo Park, CA',
       'Dallas, TX', 'Arlington, VA', 'Monroe, WI', 'Sacramento, CA',
       'Hampton, VA', 'Richmond, VA', 'Monterey, CA', 'Woodlawn, MD',
       'Ann Arbor, MI', 'Concord, CA', 'Durham, NC', 'Kent, OH',
       'Laurel, MD', 'Columbia, MD', 'Falls Church, VA',
       'Thousand Oaks, CA', 'Edison, NJ', 'Adelphi, MD', 'Seattle, WA',
       'Sunnyvale, CA', 'Fremont, CA', 'Hamilton, NJ', 'Huntsville, AL',
       'Merrifield, VA', 'Madison, WI', 'Philadelphia, PA',
       'Winston-Salem, NC', 'Raleigh, NC', 'Burbank, CA', 'San Ramon, CA',
       'Oxnard, CA', 'Kansas City, MO', 'Jersey City, NJ',
       'Manchester, NH', 'Winters, TX', 'Brooklyn, NY', 'Germantown, MD',
       'Omaha, NE', 'Open Fork, VA', 'Ashburn, VA', 'Lombard, IL',
       'Alpharetta, GA', 'Boulder, CO', 'Mountain View, CA',
       'Trumbull, CT', 'Sterling, VA', 'Foster City, CA', 'Frederick, MD',
       'Colorado Springs, CO', 'Southfield, MI', 'San Clemente, CA',
       'The Woodlands, TX', 'Pleasanton, CA', 'Wilmington, DE',
       'Fort Sam Houston, TX', 'Lexington Park, MD',
       'Patuxent, Anne Arundel, MD', 'Fairfax, VA', 'San Antonio, TX',
       'Silver Spring, MD', 'Portland, OR', 'Simi Valley, CA',
       'New Bedford, MA', 'Rancho Cucamonga, CA', 'Collegeville, PA',
       'Minneapolis, MN', 'Gahanna, OH', 'California', 'Wellesley, MA',
       'Washington, VA', 'Orange, CA', 'Bridgeport, WV', 'Oakville, CA',
       'Naperville, IL', 'Houston, TX', 'Redmond, WA', 'West Chester, PA',
       'Quantico, VA', 'Fort Lee, NJ', 'Irwindale, CA'], dtype=object)

In [ ]:
# Filter DataFrame untuk mencari baris yang tidak memiliki tanda koma di kolom 'Location'
df[~df['Location'].str.contains(',', na=False)]['Location'].unique()

array(['Remote', 'United States', 'Utah', 'New Jersey', 'Texas',
       'California'], dtype=object)

In [ ]:
# Menyatakan Location dengan inisial
def assign_state(location):
    if location == "United States":
        return "Across US"
    elif location == "Utah":
        return "UT"
    elif location == "New Jersey":
        return "NJ"
    elif location == "Texas":
        return "TX"
    elif location == "Remote":
        return "Remote"
    elif location == "California":
        return "CA"
    else:
        # Mengambil State (inisial 2 huruf) di Location
        state = pd.Series(location).str.extract(',\s*(\w\w)$').iloc[0, 0]
        return state if pd.notna(state) else "Unknown"

# Membuat kolom baru 'job_state' dengan mengekstrak fungsi sebelumnya
df['job_state'] = df['Location'].apply(assign_state)

df[['Location', 'job_state']].head()

        Location job_state
0   New York, NY        NY
1  Chantilly, VA        VA
2     Boston, MA        MA
3     Newton, MA        MA
4   New York, NY        NY



*   Headquarters Editing

In [ ]:
# Filter DataFrame untuk mencari baris yang tidak memiliki tanda koma di kolom 'Headquarters'
df[~df['Headquarters'].str.contains(',', na=False)]['Headquarters'].unique()

array(['na'], dtype=object)

In [ ]:
# Membuat kolom baru 'job_state' dengan mengekstrak fungsi sebelumnya (assign_state)
df['Headquarters'] = df['Headquarters'].astype(str)
df['hq_state'] = df['Headquarters'].apply(assign_state)

df[['Headquarters','hq_state']].head()

             Headquarters hq_state
0            New York, NY       NY
1             Herndon, VA       VA
2              Boston, MA       MA
3  Bad Ragaz, Switzerland  Unknown
4            New York, NY       NY

In [ ]:
df['same_state'] = df.apply(lambda row: 1 if row['job_state'] == row['hq_state'] else 0, axis=1)

In [ ]:
#Menampilkan State pada Job dan Headquarters
df[['job_state', 'hq_state', 'same_state']].head()

  job_state hq_state  same_state
0        NY       NY           1
1        VA       VA           1
2        MA       MA           1
3        MA  Unknown           0
4        NY       NY           1



*   Job Type

In [ ]:
def determine_job_type(job_title):
    job_title = job_title.lower()  # Pastikan case tidak memengaruhi hasil

    if "data" in job_title:
        if "analyst" in job_title or "analytics" in job_title:
            if "scientist" in job_title or "science" in job_title:
                if "machine learning" in job_title:
                    return "Machine Learning Engineer"
                elif "engineer" in job_title:
                    return "Data Engineer"
                else:
                    return "Data Scientist"
            elif "engineer" in job_title:
                return "Data Engineer"
            elif "machine learning" in job_title:
                return "Machine Learning Engineer"
            else:
                return "Data Analyst"
        elif "scientist" in job_title or "science" in job_title:
            if "machine learning" in job_title:
                return "Machine Learning Engineer"
            elif "engineer" in job_title:
                return "Data Engineer"
            else:
                return "Data Scientist"
        elif "engineer" in job_title:
            return "Data Engineer"
        else:
            return "Data Analyst"
    elif "scientist" in job_title or "science" in job_title:
        if "machine learning" in job_title:
            return "Machine Learning Engineer"
        elif "engineer" in job_title:
            return "Data Engineer"
        else:
            return "Data Scientist"
    elif "engineer" in job_title:
        if "machine learning" in job_title:
            return "Machine Learning Engineer"
        else:
            return "Data Engineer"
    elif "machine learning" in job_title:
        return "Machine Learning Engineer"
    else:
        return "Other"

df['Job Type'] = df['Job Title'].apply(determine_job_type)
df['Job Type']

0      Data Scientist
1      Data Scientist
2      Data Scientist
3      Data Scientist
4      Data Scientist
            ...
667    Data Scientist
668    Data Scientist
669    Data Scientist
670    Data Scientist
671    Data Scientist
Name: Job Type, Length: 672, dtype: object

In [ ]:
# Jumlah Job Type
job_type_counts = Counter(df['Job Type'].tolist())

print(job_type_counts)

Counter({'Data Scientist': 490, 'Data Engineer': 71, 'Data Analyst': 56, 'Machine Learning Engineer': 49, 'Other': 6})



*   Job Type Require

In [ ]:
# Membuat fungsi untuk menunjukkan tingkatan senior atau tidak pekerja yang dicari
def job_require(title) :
  if 'senior' in title.lower() or 'sr' in title.lower():
    return 1
  else:
    return 0

# Membuat kolom baru 'advance worker'
df['advance_worker'] = df['Job Title'].apply(job_require)
df[['Job Title','advance_worker']]

             Job Title  advance_worker
0    Sr Data Scientist               1
1       Data Scientist               0
2       Data Scientist               0
3       Data Scientist               0
4       Data Scientist               0
..                 ...             ...
667     Data Scientist               0
668     Data Scientist               0
669     Data Scientist               0
670     Data Scientist               0
671     Data Scientist               0

[672 rows x 2 columns]

In [ ]:
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tableau,big_data,machine_learning,sql,power_bi,job_state,hq_state,same_state,Job Type,advance_worker
0,0,Sr Data Scientist,137-171,Description The Senior Data Scientist is respo...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,0,0,1,0,0,NY,NY,1,Data Scientist,1
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future Join the...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,0,1,1,1,0,VA,VA,1,Data Scientist,0
2,2,Data Scientist,137-171,Overview Analysis Group is one of the largest...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,0,0,1,0,0,MA,MA,1,Data Scientist,0
3,3,Data Scientist,137-171,JOB DESCRIPTION: Do you have a passion for Dat...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,0,0,1,1,0,MA,Unknown,0,Data Scientist,0
4,4,Data Scientist,137-171,Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,...,0,0,1,1,0,NY,NY,1,Data Scientist,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105-167,Summary We’re looking for a data scientist to ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,...,1,1,1,1,1,NJ,NJ,1,Data Scientist,0
668,668,Data Scientist,105-167,Job Description Become a thought leader within...,0.0,JKGT,"San Francisco, CA",na,na,0,...,0,0,0,0,0,CA,Unknown,0,Data Scientist,0
669,669,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",na,na,0,...,1,0,1,1,1,CA,Unknown,0,Data Scientist,0
670,670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,0,...,0,1,1,1,0,CA,CA,1,Data Scientist,0
671,671,Data Scientist,105-167,Description The Data Scientist will be part of...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,...,1,0,0,1,0,NY,NY,1,Data Scientist,0

In [ ]:
# Memindahkan posisi kolom

df.insert(26, 'machine_learning', df.pop('machine_learning'))
df.insert(27, 'sql', df.pop('sql'))
df.insert(28, 'power_bi', df.pop('power_bi'))
df.insert(2, 'Job Type', df.pop('Job Type'))

In [ ]:
df.columns

Index(['index', 'Job Title', 'Job Type', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'company_age',
       'Average Revenue', 'python', 'excel', 'hadoop', 'spark', 'aws',
       'tableau', 'machine_learning', 'sql', 'power_bi', 'big_data',
       'job_state', 'hq_state', 'same_state', 'advance_worker'],
      dtype='object')

In [ ]:
df.to_csv("Cleaned_ver_DS_Jobs.csv")

# **ANALISIS DATA**



*   Frekuensi skill lain yang digunakan dengan skill python

In [ ]:
# Memilih hanya kolom skill
skill_columns = ['python', 'excel', 'hadoop', 'spark', 'aws', 'tableau', 'sql', 'power_bi', 'big_data']

# Filter baris dengan 'python' = 1
python_skills = df[df['python'] == 1]

# Menghitung frekuensi kemunculan bersama antara 'python' dan skill lain
cooccurrence_counts = python_skills[skill_columns].sum()
cooccurrence_counts.drop('python')

excel       221
hadoop      129
spark       169
aws         150
tableau     102
sql         301
power_bi     25
big_data    119
dtype: int64